.toggle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-container p{
    cursor: pointer;
}

.total-theme{
    display: flex;
    gap: 16px;
}

p{
    margin: 0%;
}

.toggle-body{
    width: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    padding: 0.2rem;
    border-radius: 10rem;
    background-color: hsl(223, 31%, 20%);
}

.button-toggle{
    height: 1rem;
    width: 1.3rem;
    border: none;
    margin: 0px;
    background-color: transparent;
    border-radius: 10rem;
}

.toggle{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    transition: 0.3s;
}