@media screen and (max-width: 450px) {
    .calculator-body{
      width: 20rem;
    }
    .button-calculator{
        font-size: 24px;
    }
    .key-container{
      grid-template-columns: repeat(4, 3.5rem);
    }
  }
  
  